body {
  background: #1d1d2c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.myform {
  border: 0px solid;
  width: auto;
  padding: 30px;
  border-radius: 8px;
  /* background-image: linear-gradient(to bottom right, #5ebec4, white); */
  background-color: #5ebec4;
}

.inputs {
  margin-top: 5px;
}

.personalContainer {
  max-width: 80%;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

.personal-img {
  width: 250px;
}

.personaldivinfo {
  background: #f92c85;
  padding: 40px;
  margin: 40px;
  border-radius: 20px;
  width: 700px;
  overflow-wrap: break-word;
  font-family: "Cabin", sans-serif;
  color: #fdf5df;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 50px 40px -7px;
}

.myRationList {
  max-width: 80%;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: 20px;
  padding: 20px;
  color: #f92c85;
}

.outerproductcard {
  margin: 20px;
}

.productcard {
  margin: 20px;
  background-color: #fdf5df;
  color: #f92c85;
  transition-duration: 0.4s;
  border-left: 8px solid #f92c85;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.productcard:hover {
  margin: 20px;
  background-color: #f92c85;
  color: #fdf5df;
  transition-duration: 0.4s;
  border-left: 8px solid #fdf5df;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.personalDateButton {
  background-color: #fdf5df;
  color: #f92c85;
  border: #fdf5df;
  transition-duration: 0.4s;
}

.personalDateButton:hover {
  background-color: #f92c85;
  color: #fdf5df;
  border: #fdf5df;
}

.cartcard {
  max-width: 100%;
  background-color: #fdf5df;
  color: #f92c85;
  transition-duration: 0.4s;
}

.cartcard:hover {
  background-color: #f92c85;
  color: #fdf5df;
  transition-duration: 0.4s;
}

.paycontainer {
  background-color: #1e2148;
  max-width: 750px;
  height: 300px;
  margin: 20px 0px 20px 0px;
  border-radius: 10px;
  color: white;
  padding-top: 50px;
  padding-left: 20px;
  transition-duration: 2s;
}
