body {
  background: #1d1d2c;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.feedback {
  margin-top: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.feedbackContainer {
  width: 200px;
  height: 600px;
  margin-top: 20px;
}
