.ordersbody{
    background-image: url(cordersbg.jpg);
}

.cards{
    color: black;
    text-decoration: none;
    width: 31%;
    margin: 15px 16px;
    display: inline-block;
    border-radius: 12px;
}
.cards:hover{
    cursor: pointer;
    background-color: rgb(102, 98, 98);
    color: red;
}
.historybody{
    background-image: url(historyimg.jpg);
}

.table{
    width: 80%;
    margin: 40px auto;
}
.over{
    position:absolute;
}

.detailcard{
    display: inline-block;
    width:60%;
    margin: 133px 56px;
}
.cdetailsbody{
    background-repeat: no-repeat;
    background-image: url(historyimg.jpg);
}
button{
    border-radius:8px;
    background-color:rgb(52, 224, 52);
}
button:hover{
    cursor:pointer;
    background-color: rgb(6, 248, 6);
}
